@import "./styles/color.scss";
@import "./screen.scss";

.v-section {
  width: calc(33% - 2.5rem);
  padding: 1rem;
  border: 2px solid #eee;
  height: 85vh;
  border-radius: 0.5rem;
}

.card-container {
  background-color: black;
}

.sub-card-container {
  border: 2px solid $text-color;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0.8rem 0;
}

.sub-card-container header {
  line-height: 1;
  font-size: 20px;
  font-weight: 600;
}

.sub-card-container p {
  font-size: 14px;
  line-height: 1;
  margin: 0.25rem 0;
}

.sub-card-container p:first-child {
  font-size: 1rem;
  line-height: 1;
  margin: 0.25rem 0;
}

.list {
  padding-left: 1.5rem;
}

.list-item {
  margin: 0.5rem 0;
}

.bold {
  font-weight: 600;
}
.grey-text {
  color: $grey-text;
}

.quote-container {
  width: 100%;
  background-color: black;
  color: $text-color;
  // font-weight: 600;
  // font-size: 2rem;
  font-style: italic;
  border-radius: 0.5rem;
  border: 2px solid #eee;
  padding: 0.5rem;
  margin-top: 1rem;
}

@media only screen and (max-width: $md) {
  .v-section {
    width: 99%;
    margin-top: 0.5rem;
    height: auto;
  }
}
// @media only screen and (max-width: $lg) {
//   .v-section {
//     width: 47%;
//   }
// }
